
      <div class="portCard" onclick="this.classList.toggle('expanded')">
        <img src="./images/budget-index.png" alt="" class="label" />

        <div class="text1">
          <div class="text-content">
            <h1 class="title">Budget Index</h1>
            <div class="body-text">
              <a
                href="https://personal-budget-tracking.herokuapp.com/"
                target="_blank"
                >Deployed Link</a
              >
            </div>
          </div>
        </div>
        <svg
          class="chevron"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 100 35"
          width="30"
        >
          <path
            d="M5 30L50 5l45 25"
            fill="none"
            stroke="#fff"
            stroke-width="10"
          />
        </svg>
      </div>
    </div>
    <div class="portfolio-description" data-aos="fade-left">
      <h6>Budget Index</h6>
      <h6>Roles: Full-Stack Developer</h6>
      <p>
          This personal financing application allows users to input revenue and expenses in both online and offline states. Offline persistence is facilitated through IndexDB.
      </p>
      <a
        href="https://github.com/liam-mack/Budget-index"
        target="_blank"
        class="cta"
        >View Repository</a
      >
    </div>
  </div>

  <!-- Non-deploy -->
  <div class="portfolio-item">
    <div class="portfolio-img has-margin-right">
            <div class="portCard" onclick="this.classList.toggle('expanded')">
            <img src="./images/classes-employee.png" alt="" class="label" />
            <div class="text2">
              <div class="text-content">
                <h1 class="title">Team Profile Generator</h1>
                <div class="body-text">
                  <a
                    href="https://drive.google.com/file/d/1jJtUYwaO4NYXIUU8bWS6ayu6rEgQyceK/view"
                    target="_blank"
                    >Demo Video</a
                  >
                </div>
              </div>
            </div>
            <svg
              class="chevron"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 100 35"
              width="30"
            >
              <path
                d="M5 30L50 5l45 25"
                fill="none"
                stroke="#fff"
                stroke-width="10"
              />
            </svg>
          </div>
        </div>
        <div class="portfolio-description" data-aos="fade-left">
          <h6>Team Profile Generator</h6>
          <h6>Roles: Full-Stack Developer</h6>
          <p>
              Using ES6 Syntax this application takes input from Inquirer CLI and renders the resulting employee data output in a html directory.
          </p>
          <a
            href="https://github.com/liam-mack/Employee-CLI"
            target="_blank"
            class="cta"
            >View Repository</a
          >
        </div>
      </div>