<div class="portfolio-item">
    <div
      class="portfolio-description has-margin-right"
      data-aos="fade-right"
    >
      <h6>SQL Employee Manager</h6>
      <h6>Roles: Full-Stack Developer</h6>
      <p>
        This employee manager is supported by an SQL backend that tracks departments, employees, and employee roles. CRUD functions facilitated through Inquirer prompts.
    </p>
      <a
        href="https://github.com/liam-mack/SQL-Employee-Directory"
        target="_blank"
        class="cta"
        >View Repository</a
      >
    </div>
    <div class="portCard" onclick="this.classList.toggle('expanded')">
      <img src="./images/sql-employee.png" alt="" class="label" />
      <div class="text2">
        <div class="text-content">
          <h1 class="title">SQL Employee Manager</h1>
          <div class="body-text">
            <a
              href="https://drive.google.com/file/d/1Hr6M9YBK8zI9p5VxjzugGwD7h59gR_lu/view"
              target="_blank"
              >Demo Video</a
            >
          </div>
        </div>
      </div>
      <svg
        class="chevron"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 35"
        width="30"
      >
        <path
          d="M5 30L50 5l45 25"
          fill="none"
          stroke="#fff"
          stroke-width="10"
        />
      </svg>
    </div>
  </div>

  <!-- No deploy -->
  <div class="portfolio-item">
    <div class="portfolio-img has-margin-right">
            <div class="portCard" onclick="this.classList.toggle('expanded')">
            <img src="./images/sql-employee.png" alt="" class="label" />
            <div class="text2">
              <div class="text-content">
                <h1 class="title">SQL Employee Manager</h1>
                <div class="body-text">
                  <a
                    href="https://drive.google.com/file/d/1Hr6M9YBK8zI9p5VxjzugGwD7h59gR_lu/view"
                    target="_blank"
                    >Demo Video</a
                  >
                </div>
              </div>
            </div>
            <svg
              class="chevron"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 100 35"
              width="30"
            >
              <path
                d="M5 30L50 5l45 25"
                fill="none"
                stroke="#fff"
                stroke-width="10"
              />
            </svg>
          </div>
        </div>
        <div class="portfolio-description" data-aos="fade-left">
          <h6>SQL Employee Manager</h6>
          <h6>Roles: Full-Stack Developer</h6>
          <p>
              This employee manager is supported by an SQL backend that tracks departments, employees, and employee roles. CRUD functions facilitated through Inquirer prompts.
          </p>
          <a
            href="https://github.com/liam-mack/SQL-Employee-Directory"
            target="_blank"
            class="cta"
            >View Repository</a
          >
        </div>
      </div>